*{
    box-sizing: border-box;
}
body{
  background-color: rgb(255, 127, 157);
display: flex;
align-items: center;
justify-content: center ;
min-height: 100vh;
margin: 0;

}
.container{
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;

}

.header{
background: color #747474;;
border-bottom:  1px solid #f0f0f0;
padding: 20px 40px;
}

.header h2{
    margin: 0 ;
}
